#wrapper
{
	width: 100%;
	background-color: #aa96da;
	min-height: 1140px;
}

#app
{
	margin: auto;
	width: 80%;
	height: auto;
	min-height: 1140px;
	border: 5px solid c;
	padding: 15px;
	background-color: #C5FAD5;
}

#inputSection
{
    background-color: pink;
    text-align: center;
}

.bigBox
{
    width: 100px;
    height: 80px;
    font-size: xx-large;
    text-align: center;
}

.smallBox
{
    width: 80px;
    height: 50px;
    font-size: x-large;
    text-align: center;
}

#timerSection
{
    text-align: center;
    background-color: blue;
    font-size: xx-large;
    
}

